/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  --main-color: #000;
  --bg-color: #fff;
  --bg_gradient:
    repeating-linear-gradient(to right, #d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, #e7e7e7 0%, #e7e7e7 0.01%, #1a1a1a 100%);

  --font-main: 'Inter-Variable', sans-serif;
  --font-accent: 'PressStart2P', monospace;

  --header-font-size-title: clamp(3.063rem, 2.710rem + 1.502vi, 4.063rem);
  --header-font-size-text: clamp(0.875rem, 0.677rem + 0.845vi, 1.438rem);
  --header-logo-padding: 
    clamp(7.5000rem, 7.2799rem + 0.9390vw, 8.1250rem)
    clamp(0.8750rem, -1.5018rem + 10.1408vw, 7.6250rem);
  --main-padding: clamp(0rem, -8.1426rem + 34.7418vw, 23.125rem);
  
  --font-weight-subtitle: 715;
  --font-weight-maintext: 410;
  --font-size-subtitle: 18px;
  --font-size-maintext: 18px;
  --font-size-accent: 14px;
  --color-text: #000;
  --color-accent: #000;

  --button-fill: #000;
  --button-hover: #fff;
  --heart-contour: #000;
  --heart-fill: #f00;
  --animation-fill-color: #f00;
}
